[database]
url = http://db.example.net:5984/some-database
username = username
password = secret


[selectors]
ctl00_ctl00_cphGlobal_cphPublicAccess_lblName = Назив на договорниот орган
ctl00_ctl00_cphGlobal_cphPublicAccess_lblProcedureType = Вид на постапка
ctl00_ctl00_cphGlobal_cphPublicAccess_lblCategory = Категорија на договорен орган, негова главна активност или дејност
ctl00_ctl00_cphGlobal_cphPublicAccess_lblPredmet = Предмет на договорот за јавна набавка
ctl00_ctl00_cphGlobal_cphPublicAccess_lblSubjectOfProcurement = Предмет на договорот за јавна набавка
ctl00_ctl00_cphGlobal_cphPublicAccess_lblPodetalenOpis = Подетален опис на предметот на договорот за јавна набавка
ctl00_ctl00_cphGlobal_cphPublicAccess_lblContractPeriod = Времетраење на договорот
ctl00_ctl00_cphGlobal_cphPublicAccess_lblContractDate = Датум на склучување на договор или рамковна спогодба
ctl00_ctl00_cphGlobal_cphPublicAccess_lblNositel = Име на носителот на набавката
ctl00_ctl00_cphGlobal_cphPublicAccess_lblEstimatedContractValue = Проценета вредност на договорот или рамковната спогодба
ctl00_ctl00_cphGlobal_cphPublicAccess_lblAssignedContractValueVAT = Вредност на склучениот договор со вклучен ДДВ
ctl00_ctl00_cphGlobal_cphPublicAccess_lblDeliveryDate = Датум на доставување до Биро за јавни набавки


